[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "openai>=2.11.0",
    "python-dotenv>=1.2.1",
    "requests>=2.32.5",
]
